<%= form_for([@store, @purchase_order]) do |f| %>
  <% if @purchase_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@purchase_order.errors.count, "error") %> prohibited this purchase order from being saved:</h2>
      <ul>
      <% @purchase_order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <h2><%= t('activerecord.models.supplier') %></h2>
  <fieldset>
    <%= f.select :supplier_id, @suppliers.map { |supplier| [supplier.name, supplier.id] }, :include_blank => true %>
  </fieldset>
  <h2><%= t('activerecord.models.purchase_order_items') %></h2>
  <table>
    <tr>
      <th><%= t('activerecord.models.product') %></th>
      <th><%= t('activerecord.attributes.purchase_order_item.cost') %></th>
      <th><%= t('activerecord.attributes.purchase_order_item.quantity') %></th>
      <th><%= t('activerecord.attributes.purchase_order_item.total') %></th>
    </tr>
    <%= render 'purchase_order_item_fields', :form => f %>
  </table>
  <h2><%= t('activerecord.attributes.purchase_order.notes') %></h2>
  <fieldset>
    <%= f.text_area :notes %>
  </fieldset>
  <fieldset class="actions">
    <%= f.submit %>
  </fieldset>
<% end %>