<% @title = t('.title') %>
<% content_for :actions do %>
  <ul>
    <% if can? :creat, PurchaseOrder %>
      <li><%= link_to t('purchase_orders.new.title'), new_store_purchase_order_path(@store) %></li>
    <% end %>
  </ul>
<% end %>

<% if @purchase_orders.empty? %>
  <p><%= t('.empty') %></p>
<% else %>
  <table>
    <tr>
      <th><%= t('activerecord.attributes.purchase_order.id') %></th>
      <th><%= t('activerecord.attributes.purchase_order.created_at') %></th>
      <th><%= t('activerecord.attributes.purchase_order.total') %></th>
      <th><%= t('activerecord.attributes.purchase_order.user') %></th>
      <th><%= t('activerecord.attributes.purchase_order.received_at') %></th>
      <th><%= t('activerecord.attributes.purchase_order.paid_at') %></th>
      <th class="action"><%= t('receive') %></th>
      <th class="action"><%= t('pay') %></th>
    </tr>
    <% @purchase_orders.each do |purchase_order| %>
      <tr class="<%= cycle 'odd', '' %>">
        <td><%= link_to purchase_order.id, purchase_order %></td>
        <td><%= purchase_order.created_at %></td>
        <td><%= purchase_order.total %></td>
        <td><%= purchase_order.user.name %></td>
        <td><%= purchase_order.received_at %></td>
        <td><%= purchase_order.paid_at %></td>
        <td><%#= link_to t('receive'), receive_store_purchase_order_path(@store, purchase_order), :method => :put, :class => 'receive' %></td>
        <td><%#= link_to t('pay'), pay_store_purchase_order_path(@store, purchase_order), :method => :put, :class => 'pay' %></td>
      </tr>
    <% end %>
  </table>
<% end %>