<% @title = "#{t('activerecord.models.purchase_order')} #{t('activerecord.attributes.purchase_order.id')}#{@purchase_order.id}" %>
<table>
  <tr class="odd">
    <th class="side"><%= t('activerecord.attributes.purchase_order.created_at') %></th>
    <td><%= l @purchase_order.created_at %></td>
  </tr>
  <tr>
    <th><%= t('activerecord.models.store') %></th>
    <td><%= @purchase_order.store.name %></td>
  </tr>
  <tr class="odd">
    <th><%= t('activerecord.models.supplier') %></th>
    <td><%= @purchase_order.supplier.name %></td>
  </tr>
  <tr>
    <th><%= t('activerecord.models.user') %></th>
    <td><%= @purchase_order.user.name %></td>
  </tr>
  <tr class="odd">
    <th><%= t('activerecord.attributes.purchase_order.received_at') %></th>
    <td><%= l @purchase_order.received_at if @purchase_order.received_at %></td>
  </tr>
  <tr>
    <th><%= t('activerecord.attributes.purchase_order.paid_at') %></th>
    <td><%= l @purchase_order.paid_at if @purchase_order.paid_at %></td>
  </tr>
  <tr class="odd">
    <th><%= t('activerecord.attributes.purchase_order.notes') %></th>
    <td><%= @purchase_order.notes %></td>
  </tr>
</table>
<h2><%= t('activerecord.models.purchase_order_items') %></h2>
<table>
  <tr>
    <th><%= t('activerecord.attributes.product.code') %></th>
    <th><%= t('activerecord.models.product') %></th>
    <th class="numeric"><%= t('activerecord.attributes.purchase_order_item.cost') %></th>
    <th class="numeric"><%= t('activerecord.attributes.purchase_order_item.quantity') %></th>
    <th class="numeric"><%= t('activerecord.attributes.purchase_order_item.total') %></th>
  </tr>
  <% @purchase_order.purchase_order_items.each do |item| %>
  <tr class="<%= cycle 'odd', '' %>">
    <td><%= item.product.code %></td>
    <td><%= item.product.name %></td>
    <td class="numeric"><%= item.cost %></td>
    <td class="numeric"><%= item.quantity %></td>
    <td class="numeric"><%= item.total %></td>
  </tr>
  <% end %>
  <tr>
    <th colspan="4" class="numeric">Total</th>
    <th class="numeric"><%= @purchase_order.total %></th>
  </tr>
</table>