<% @title = t('.title') %>
<% content_for :actions do %>
  <ul>
    <% if can? :creat, Store %>
      <li><%= link_to t('stores.new.title'), new_company_store_path(@company) %></li>
    <% end %>
  </ul>
<% end %>

<% if @stores.empty? %>
  <p><%= t('.empty') %></p>
<% else %>
  <table>
    <tr>
      <th><%= t('activerecord.attributes.store.name') %></th>
      <th><%= t('activerecord.models.users') %></th>
      <th><%= t('activerecord.attributes.store.phone') %></th>
      <th><%= t('activerecord.attributes.store.mobile') %></th>
      <th><%= t('activerecord.attributes.store.email') %></th>
      <% if can? :update, Store %>
        <th class="action"><%= t('edit') %></th>
      <% end %>
      <% if can? :destroy, Store %>
        <th class="action"><%= t('delete') %></th>
      <% end %>
    </tr>
    <% @stores.each do |store| %>
      <tr class="<%= cycle 'odd', '' %>">
        <td><%= link_to store.name, company_store_path(@company, store) %></td>
        <td><%= link_to store.users.size, company_store_users_path(@company, store) %></td>
        <td><%= store.phone %></td>
        <td><%= store.mobile %></td>
        <td><%= store.email %></td>
        <% if can? :update, Store %>
          <td><%= link_to t('edit'), edit_company_store_path(@company, store), :class => 'edit' %></td>
        <% end %>
        <% if can? :destroy, Store %>
          <td><%= link_to t('delete'), company_store_path(@company, store), :confirm => "#{t('delete')} '#{store.name}'?", :method => :delete, :class => 'delete' %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
<% end %>