<%= form_for([@store, @user]) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
    <%= f.label :name %>
    <%= f.text_field :name, :class => 'text_field' %>
  </fieldset>
  <% if can? :assign_role, @user %>
    <fieldset>
      <%= f.label :role %>
      <%= f.collection_select :role, @roles, :to_s, :titleize, :include_blank => true %>
    </fieldset>
  <% end %>
  <fieldset>
    <%= f.label :email %>
    <%= f.text_field :email, :class => 'text_field' %>
  </fieldset>
  <fieldset>
    <%= f.label :password %>
    <%= f.password_field :password, :class => 'text_field' %>
  </fieldset>
  <fieldset>
    <%= f.label :confirmation %>
    <%= f.password_field :password_confirmation, :class => 'text_field' %>
  </fieldset>
  <fieldset class="actions">
    <%= f.submit %>
  </fieldset>
<% end %>