<% @title = t '.title' %>
<% content_for :actions do %>
  <ul>
    <% if can? :creat, User %>
      <li><%= link_to t('users.new.title'), new_store_user_path(@store) %></li>
    <% end %>
  </ul>
<% end %>

<% if @users.empty? %>
  <p><%= t('.empty') %></p>
<% else %>
  <table>
    <tr>
      <th><%= t('activerecord.attributes.user.name') %></th>
      <th><%= t('activerecord.models.store') %></th>
      <th><%= t('activerecord.attributes.user.role') %></th>
      <th><%= t('created_at') %></th>
      <th class="action">
      <% if can? :update, User %>
        <%= t('edit') %>
      <% end %>
      </th>
      <th class="action">
      <% if can? :destroy, User %>
        <%= t('delete') %>
      <% end %>
      </th>
    </tr>
    <% @users.each do |user| %>
      <tr class="<%= cycle 'odd', '' %>">
        <td><%= link_to user.name, user %></td>
        <td><%= user.store.name %></td>
        <td><%= user.role.titleize %></td>
        <td><%= user.created_at %></td>
        <td>
        <% if can? :update, user %>
          <%= link_to t('edit'), edit_user_path(user), :class => 'edit' %>
        <% end %>
        </td>
        <td>
        <% if can? :destroy, user %>
          <%= link_to t('delete'), user, :confirm => "#{t('delete')} '#{user.name}'?", :method => :delete, :class => 'delete' %>
        <% end %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>