<h1>Customer: <%=h @customer.name %></h1>

<p>
  <b>Company:</b>
  <%=h @customer.company %>
</p>

<p>
  <b>Phone:</b>
  <%=h @customer.phone %>
</p>

<p>
  <b>Mobile:</b>
  <%=h @customer.mobile %>
</p>

<p>
  <b>Email:</b>
  <%=h @customer.email %>
</p>

<p>
  <b>Website:</b>
  <%=h @customer.website %>
</p>

<p>
  <b>Address:</b>
  <%=h @customer.address %>
</p>

<p>
  <b>Notes:</b>
  <%=h @customer.notes %>
</p>