<% @title = t '.title' %>
<% content_for :actions do %>
  <ul>
    <% if can? :creat, Company %>
      <li><%= link_to t('companies.new.title'), new_company_path %></li>
    <% end %>
  </ul>
<% end %>

<% if @companies.empty? %>
  <p><%= t('.empty') %></p>
<% else %>
  <table>
    <tr>
      <th><%= t('activerecord.attributes.company.name') %></th>
      <th><%= t('activerecord.models.stores') %></th>
      <th><%= t('activerecord.models.categories') %></th>
      <th><%= t('created_at') %></th>
      <% if can? :edit, Company %>
        <th class="action"><%= t('edit') %></th>
      <% end %>
      <% if can? :destroy, Company %>
        <th class="action"><%= t('delete') %></th>
      <% end %>
    </tr>
    <% @companies.each do |company| %>
      <tr class="<%= cycle 'odd', '' %>">
        <td><%= link_to company.name, company %></td>
        <td><%= link_to company.stores.size, company_stores_path(company) %></td>
        <td><%= link_to company.categories.size, company_categories_path(company) %></td>
        <td><%= company.created_at %></td>
        <% if can? :update, Company %>
          <td><%= link_to t('edit'), edit_company_path(company), :class => 'edit' %></td>
        <% end %>
        <% if can? :destroy, Company %>
          <td><%= link_to t('delete'), company, :confirm => "#{t('delete')} '#{company.name}'?", :method => :delete, :class => 'delete' %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
<% end %>