<% form_for(@tax_rate) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :percentage %> (%)<br />
    <%= f.text_field :percentage %>
  </p>
  <p>
    <%= f.submit "Save" %>
  </p>
<% end %>