<%= form_for([@company, @category]) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>
      <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
    <%= f.label :name %>
    <%= f.text_field :name, :class => 'text_field' %>
  </fieldset>
  <fieldset>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </fieldset>
    <fieldset class="actions">
    <%= f.submit %>
  </fieldset>
<% end %>