<% @title = t('.title') %>
<% content_for :actions do %>
  <ul>
    <% if can? :creat, Category %>
      <li><%= link_to t('categories.new.title'), new_company_category_path(@company) %></li>
    <% end %>
  </ul>
<% end %>

<% if @categories.empty? %>
  <p><%= t('.empty') %></p>
<% else %>
  <table>
    <tr>
      <th><%= t('activerecord.attributes.category.name') %></th>
      <th><%= t('activerecord.models.products') %></th>
      <th><%= t('activerecord.attributes.category.description') %></th>
      <% if can? :update, Category %>
        <th class="action"><%= t('edit') %></th>
      <% end %>
      <% if can? :destroy, Category %>
        <th class="action"><%= t('delete') %></th>
      <% end %>
    </tr>
    <% @categories.each do |category| %>
      <tr class="<%= cycle 'odd', '' %>">
        <td><%= link_to category.name, category %></td>
        <td><%= link_to category.products_count, category_products_path(category) %></td>
        <td><%= category.description %></td>
        <% if can? :update, Category %>
          <td><%= link_to t('edit'), edit_category_path(category), :class => 'edit' %></td>
        <% end %>
        <% if can? :destroy, Category %>
          <td><%= link_to t('delete'), category, :confirm => "#{t('delete')} '#{category.name}'?", :method => :delete, :class => 'delete' %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
<% end %>