<% @title = t('.title') %>
<% content_for :actions do %>
  <ul>
    <% if can? :creat, Product %>
      <li><%= link_to t('products.new.title'), new_category_product_path(@category) %></li>
    <% end %>
  </ul>
<% end %>

<% if @products.empty? %>
  <p><%= t('.empty') %></p>
<% else %>
  <table>
    <tr>
      <th><%= t('activerecord.attributes.product.code') %></th>
      <th><%= t('activerecord.attributes.product.name') %></th>
      <th><%= t('activerecord.attributes.product.price') %></th>
      <th><%= t('activerecord.attributes.product.average_cost') %></th>
      <th><%= t('activerecord.attributes.product.quantity') %></th>
      <% if can? :update, Product %>
        <th class="action"><%= t('edit') %></th>
      <% end %>
      <% if can? :destroy, Product %>
        <th class="action"><%= t('delete') %></th>
      <% end %>
    </tr>
    <% @products.each do |product| %>
      <tr class="<%= cycle 'odd', '' %>">
        <td><%= product.code %></td>
        <td><%= link_to product.name, product, :title => product.description %></td>
        <td><%= product.price %></td>
        <td><%= product.average_cost %></td>
        <td><%= product.quantity %></td>
        <% if can? :update, Product %>
          <td><%= link_to t('edit'), edit_product_path(product), :class => 'edit' %></td>
        <% end %>
        <% if can? :destroy, Product %>
          <td><%= link_to t('delete'), product, :confirm => "#{t('delete')} '#{product.name}'?", :method => :delete, :class => 'delete' %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
<% end %>