<%= form_for([@company, @supplier]) do |f| %>
  <% if @supplier.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@supplier.errors.count, "error") %> prohibited this supplier from being saved:</h2>
      <ul>
      <% @supplier.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
    <%= f.label :name %>
    <%= f.text_field :name, :class => 'text_field' %>
  </fieldset>
  <fieldset>
    <%= f.label :contact_person %>
    <%= f.text_field :contact_person, :class => 'text_field' %>
  </fieldset>
  <fieldset>
    <%= f.label :phone %>
    <%= f.text_field :phone, :class => 'text_field' %>
  </fieldset>
  <fieldset>
    <%= f.label :mobile %>
    <%= f.text_field :mobile, :class => 'text_field' %>
  </fieldset>
  <fieldset>
    <%= f.label :email %>
    <%= f.text_field :email, :class => 'text_field' %>
  </fieldset>
  <fieldset>
    <%= f.label :website %>
    <%= f.text_field :website, :class => 'text_field' %>
  </fieldset>
  <fieldset>
    <%= f.label :street %>
    <%= f.text_field :street, :class => 'text_field' %>
  </fieldset>
  <fieldset>
    <%= f.label :city %>
    <%= f.text_field :city, :class => 'text_field' %>
  </fieldset>
  <fieldset>
    <%= f.label :postal_code %>
    <%= f.text_field :postal_code, :class => 'text_field' %>
  </fieldset>
  <fieldset>
    <%= f.label :country %>
    <%= f.text_field :country, :class => 'text_field' %>
  </fieldset>
    <fieldset class="actions">
    <%= f.submit %>
  </fieldset>
<% end %>