<h1>Supplier: <%=h @supplier.name %></h1>

<p>
  <b>Contact name:</b>
  <%=h @supplier.contact_name %>
</p>

<p>
  <b>Phone:</b>
  <%=h @supplier.phone %>
</p>

<p>
  <b>Mobile:</b>
  <%=h @supplier.mobile %>
</p>

<p>
  <b>Email:</b>
  <%=h @supplier.email %>
</p>

<p>
  <b>Website:</b>
  <%=h @supplier.website %>
</p>

<p>
  <b>Address:</b>
  <%=h @supplier.address %>
</p>

<p>
  <b>Notes:</b>
  <%=h @supplier.notes %>
</p>