<!DOCTYPE html>
<html>
<head>
  <title>StoreMate</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="topbar-wrapper" style="z-index: 5;">
    <div class="topbar" data-dropdown="dropdown">
      <div class="topbar-inner">
        <div class="container">
          <h3><%= link_to 'StoreMate', root_path %></h1></h3>
          <ul class="nav">
            <li><a href="/pages/sales_new">Sales</a></li>
            <li><a href="#">Purchase</a></li>
            <li><a href="#">Customers</a></li>
            <li><a href="/pages/products_new">Products</a></li>
            <li><a href="#">Reports</a></li>
            <li><a href="/pages/store_setup">Settings</a></li>
          </ul>
          <form class="pull-left" action="">
            <input type="text" placeholder="Search">
          </form>
          <ul class="nav secondary-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle">Hatem Mahmoud</a>
              <ul class="dropdown-menu">
                <li><a href="#">Secondary link</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Another link</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div><!-- /topbar-inner -->
    </div><!-- /topbar -->
  </div>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
