<!DOCTYPE html>
<html>
<head>
  <title><%= @title ? "#{@title} - #{t(:app_name)}" : t(:app_name) %></title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="header"> 
    <div class="content">
      <h1><%= link_to t(:app_name), root_path %></h1>
      <ul>
        <% if user_signed_in? %>
          <li><%= link_to_unless_current(current_user.name, edit_user_path(current_user)) {|name, link| link_to name, link, :class => 'selected' } %></li>
          <li><%= link_to t('sign_out'), destroy_user_session_path %></li>
        <% else %>
          <li><%= link_to_unless_current(t('sign_in'), new_user_session_path) {|name, link| link_to name, link, :class => 'selected' } %></li>
        <% end %>
        <li><%= link_to_unless_current(t(:help), page_path('help')) {|name, link| link_to name, link, :class => 'selected' } %></li>
      </ul>
    </div>
  </div>
  <div id="body" class="content">
    <div id="menu">
      <ul>
        <% unless user_signed_in? %>
          <li><%= link_to_unless_current(t(:home), root_path) {|name, link| link_to name, link, :class => 'selected' } %></li>
        <% else %>
          <% if can? :read, Company %>
            <li><%= link_to t('activerecord.models.companies'), companies_path, :class => controller_name=='companies' ? 'selected' : '' %></li>
          <% end %>
          <% if params[:company_id] && can?(:read, Supplier) %>
            <li><%= link_to t('activerecord.models.suppliers'), company_suppliers_path(params[:company_id]), :class => controller_name=='suppliers' ? 'selected' : '' %></li>
          <% end %>
          <% if params[:company_id] && can?(:read, Store) %>
            <li><%= link_to t('activerecord.models.stores'), company_stores_path(params[:company_id]), :class => controller_name=='stores' ? 'selected' : '' %></li>
          <% end %>
          <% if params[:company_id] && can?(:read, Category) %>
            <li><%= link_to t('activerecord.models.categories'), company_categories_path(params[:company_id]), :class => controller_name=='categories' ? 'selected' : '' %></li>
          <% end %>
          <% if params[:company_id] && params[:category_id] && can?(:read, Product) %>
            <li><%= link_to t('activerecord.models.products'), company_category_products_path(params[:company_id], params[:category_id]), :class => controller_name=='products' ? 'selected' : '' %></li>
          <% end %>
          <% if can? :read, User %>
            <li><%= link_to t('activerecord.models.users'), users_path, :class => controller_name=='users' ? 'selected' : '' %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
    <div id="container">
      <% if content_for? :actions %>
        <div class="actions">
          <%= yield :actions %>
        </div>
      <% end %>
      <% if @title %>
        <h1><%= @title %></h1>
      <% end %>
      <%- flash.each do |name, message| -%>
        <%= content_tag :p, message, :class => name %>
      <%- end -%>
      <%= yield %>
    </div>
  </div>
  <div id="footer">
    <p><%= link_to 'Made in ExpressionLab', 'http://www.expressionlab.com', :target => '_blank' %></p>
  </div>
</body>
</html>