<!DOCTYPE html>
<html>
<head>
  <title><%= @title.titleize + ' - StoreMate' %></title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="wrapper">
    <div id="header">
      <h1 id="logo"><%= link_to 'StoreMate', root_path %></h1>
      <ul id="menu" class="inline_list">
        <li><%= link_to 'Help', page_path('help') %></li>
      </ul>
    </div>
    <div id="content">
      <%- flash.each do |name, message| -%>
        <%= content_tag :p, message, :class => name %>
      <%- end -%>
      <%= yield %>
    </div>
    <div id="footer">
      <p><%= link_to 'Made in ExpressionLab', 'http://www.expressionlab.com', :target => '_blank' %></p>
    </div>
  </div>
</body>
</html>